@import "./partials/reset";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/search-list";


h1 {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    width: 18rem;
    margin: 20px 0;
}

.card:hover {
    cursor: pointer;
}

