@import "./partials/reset";
@import "./partials/footer";
@import "./partials/search-bar";
@import "./partials/search-list";

h1 {
  text-align: center;
}

.card {
  background-color: transparent;
}

.card:hover {
  cursor: pointer;
}
