@import "./partials/reset";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/search-list";

h1 {
  text-align: center;
}

.card {
  width: 18rem;
  margin: 20px 0;
}

.card:hover {
  cursor: pointer;
}
