@import "./partials/reset";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/link";
@import "./partials/search-list";


h1 {
    text-align: center;
    margin-bottom: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.details {
    margin: 20px 0;
}