footer {
  background-color: rgb(66, 66, 66);
  color: white;
  text-align: center;
  padding: 10px 0;
}

p {
  margin: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
