.home:link {
    display: inline-block;
    color: black;
    text-transform: uppercase;
    text-decoration: unset;
}

.home:visited {
    color: black;
}

.home:hover {
    color: slategray;
}


.home:active {
    color: slategray;
}