.searchBar {
  margin: 0;
  width: 96%;
  opacity: 0.4;
  border: none;
  color: black;
  padding: 10px 0;
  border-bottom: 1px solid #e3e3e3;
}

.searchBar:focus {
  outline: none;
  opacity: 1;
}

.searchIcon {
  width: 3%;
  margin: 0;
  padding: 10px 0;
  color: white;
  display: inline-block;
  background-color: #e6b115;
}
